
body{
  background-color: bisque;
}

.fotoCV {
    max-width: 60%;
    border-radius: 20%;
    padding: 10%;
    background-image: url('/FinalCv_Portafolio/assets/img/IAfondo3.jpg');
    margin-top: 5%;

}

.navbar {
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

h1 {
    padding-top:15%;
}

.footer {
    background-image: url('/FinalCv_Portafolio/assets/img/IAfooter.jpg');
    padding: 2%;
 
}

.container {
    justify-content: center;
    align-items: center; 
  }


.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .saira-semi-condensed-thin {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .saira-semi-condensed-extralight {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .saira-semi-condensed-light {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .saira-semi-condensed-regular {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .saira-semi-condensed-medium {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .saira-semi-condensed-semibold {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .saira-semi-condensed-bold {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .saira-semi-condensed-extrabold {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .saira-semi-condensed-black {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .pacmanUL {
    list-style-type: none;
   list-style-image: url(/FinalCv_Portafolio/assets/img/pacmanUL.png);
  }
  
  .fantasmaUL {
    list-style-type: none;
   list-style-image: url(/FinalCv_Portafolio/assets/img/ghostArriba.png);
  }
 
  .blueGhostUL {
    list-style-type: none;
   list-style-image: url(/FinalCv_Portafolio/assets/img/blueGhostUL.png);
  }
  .contacto {
    padding: 10%;
  }

  .colaboradores {
    width:80%;
    display: flex;
    padding: 50%;
    border: 5px solid black;
    border-radius: 5rem;
    margin:5%;
  }