* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: black;
}
h1 {
    width: 221px;
    height:auto;
    font-family: "Raleway";
    font-size: 50px;
    letter-spacing: 0px;
    font-weight: 500;
    opacity: 1;
    color: #ffffff;
    
}

header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
   
    
}

.imgPrincipal {
    display: flex;
   
    
}

section img {
    width: 100%;
  }

main {
    display: flex;
    justify-content: center;
    
}

main p{
  
    color: #ffffff;
    justify-content: center;
    font-family: "Raleway";
    font-size: xx-large;
    line-height: 2em;
    
}


.articuloPrincipal{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding:5%;
}

.iguana-1 {
    width: 50%;
    padding:5%;
}
.iconosZona {
    display: flex;
    justify-content: center;
    background-color: #221e17;
}

h2 {
    width: 356px;
    height:auto;
    font-family: "Raleway";
    font-size: 40px;
    letter-spacing: 0px;
    font-weight:700;
    opacity: 1;
    color: #ffffff;
    padding-top: 75px;

}
.iconos {
    display: flex;
    justify-content:center;
}
.seccionIcono {
    padding: 50px;
    justify-content: center;
    font-family: "Raleway";
    font-size: 40px;
    letter-spacing: 0px;
    font-weight:lighter;
    opacity: 1;
    color: #ffffff;
    padding: 75px;
}
i {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2em;
    
}
.galeria {
    display: flex;
    justify-content:space-between;
    
}
.imgGaleria {
    padding-top: 5%;
    padding-bottom: 5%;
    width:100%;

}

#iguana2 {
    padding-left: 1%;
    padding-right: 1%;
}
footer {
    background-color: #221e17;
    text-align: center;
    padding: 75px;
    
}
a {
    font-family: "Raleway";
    font-size: 40px;
    letter-spacing: 0px;
    font-weight:lighter;
    opacity: 1;
    color: #ffffff;
  
    text-decoration: none;
}

a:hover{
    font-weight:bold;
   
}